---
Checks: >
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -hicpp-no-array-decay,
  -hicpp-explicit-conversions,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -bugprone-easily-swappable-parameters
InheritParentConfig: true